.idea/
multi-cloud-v2.iml
infrastructure/terraform.tfstate
infrastructure/terraform.tfstate.backup
infrastructure/terraform.tfstate.*.backup
infrastructure/.terraform/
infrastructure/.terraform.tfstate.lock.info
infrastructure/credentials/
orchestration/target